<nav
    aria-label="Progress"
    class="hidden sm:block pb-8 mb-8 border-b"
>
    <ol role="list" class="flex space-x-4 justify-center">
        <li class="flex items-center" *ngIf="!signedIn" >
            <div class="ltr:mr-4 rtl:ml-4" [class.text-primary-600]="activeStage === 1">حساب کاربری</div>
            <fa-icon icon="chevron-left" class="text-gray-300"></fa-icon>
        </li>
        <li class="flex items-center" >
            <div class="ltr:mr-4 rtl:ml-4" [class.text-primary-600]="activeStage === 2">حمل و نقل</div>
            <fa-icon icon="chevron-left" class="text-gray-300"></fa-icon>
        </li>
        <li class="flex items-center" >
            <div class="ltr:mr-4 rtl:ml-4" [class.text-primary-600]="activeStage === 3">پرداخت</div>
            <fa-icon icon="chevron-left" class="text-gray-300"></fa-icon>
        </li>
        <li class="flex items-center" [class.text-primary-600]="activeStage === 4">
            <div class="ltr:mr-4 rtl:ml-4" [class.text-primary-600]="activeStage === 3">تکمیل</div>
        </li>
    </ol>
</nav>

