<div *ngIf="order$ | async as order">
    <div class="text-center">
        <h2 class="text-3xl">از سفارش شما متشکریم!</h2>
        <ul class="mt-4">
            <li class="space-x-2"><span class="">کد سفارش:</span><span
                class="text-gray-600 font-medium">{{ order.code }}</span></li>
            <li class="space-x-2"><span class="">قرار داده شده:</span><span
                class="text-gray-600 font-medium">{{ order.updatedAt | date: 'medium' }}</span></li>
        </ul>
    </div>

    <div *ngIf="!order.customer.user" class="border rounded bg-white max-w-md mx-auto p-4 my-4">
        <p class="lead">یک حساب کاربری ایجاد کنید تا از تسویه‌حساب‌های سریع‌تر، ردیابی سفارش، تاریخچه سفارش و موارد دیگر لذت ببرید!</p>
        <button class="btn-primary mx-auto mt-6 block"
                (click)="register()"
                [disabled]="registrationSent">
            ایجاد حساب کاربری
        </button>
        <div *ngIf="registrationSent" class="mt-4 border-green-200 bg-green-50 p-4 text-sm text-green-700">
            عالی! اکنون ایمیل خود ({{ order.customer.emailAddress }}) را برای تکمیل ثبت نام بررسی کنید.
        </div>
    </div>
    <div class="mt-12">
        <vsf-cart-contents [cart]="order"
                           [canAdjustQuantities]="false"></vsf-cart-contents>
        <vsf-cart-totals [cart]="order"></vsf-cart-totals>
    </div>
</div>
<ng-container *ngIf="notFound$ | async">
    <h2 class="display-4">صفحه یافت نشد</h2>
</ng-container>
