<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <form #registerForm="ngForm"
          (submit)="register()">
        <vsf-centered-card>
            <input class="input-text"
                   placeholder="نام"
                   name="firstName"
                   required
                   [disabled]="registrationSent"
                   [(ngModel)]="firstName">
            <input class="input-text mt-1"
                   placeholder="نام خانوادگی"
                   name="lastName"
                   required
                   [disabled]="registrationSent"
                   [(ngModel)]="lastName">
            <input class="input-text mt-1"
                   placeholder="آدرس ایمیل"
                   name="emailAddress"
                   required
                   type="email"
                   email
                   [disabled]="registrationSent"
                   [(ngModel)]="emailAddress">

            <button class="btn btn-primary btn-block mt-3"
                    [disabled]="registerForm.invalid || registrationSent"
                    type="submit">
                ثبت نام
            </button>
            <div *ngIf="registrationSent" class="registration-sent">
<!--                Great! Now check your email ({{  }}) to complete registration.-->
                عالی! اکنون ایمیل خود ({{ emailAddress }}) را بررسی کنید تا ثبت نام کامل شود.
            </div>
        </vsf-centered-card>
    </form>
</div>
